* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: lato-regular;
  src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(assets/fonts/Lato-Bold.ttf);
}

body {
  font-family: lato-regular;
}

a {
  text-decoration: none;
}

h1 {
  display: none;
}

.header {
  background-color: #323232;
  display: flex;
  justify-content: center;
  height: 63px;
  font-family: lato-bold;
}

.navbar_hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 72%, 50% 100%, 0 72%, 0 25%);
  height: 92px;
  width: 90px;
  background-color: #323232;
  margin-top: -43px;
  transition: all 0.2s linear;
}

.navbar_hexagon .hex-layer-2::before{
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -48%;
  left: -43%;
  z-index: -1;
  background: url(assets/logo.png) center no-repeat;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
}

.navbar_hexagon:hover {
  cursor: pointer;
}

.navbar_hexagon img:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 30px;
  font-size: 10px;
}

.nav_list a {
  display: block;
  color: white;
}

.nav_list a:hover {
  color: #2f9984;
}

.left_item {
  float: right;
  margin-right: 21px;
  margin-left: 3.5px;
}

.right_item {
  float: left;
  margin-left: 25px;
  margin-right: -1px;
}

.navbar_logo {
  margin-top: 10px;
  margin-left: 3px;
  transition: all 0.5s ease;
}

.navbar_logo:hover {
  margin-top: 30px;
}

.navbar_hexagon img {
  margin: 13px 0 0 12px;
}

.first_item::after {
  content: "";
  border-radius: 50%;
  height: 1.62px;
  width: 1.62px;
  background-color: #474c5f;
  display: block;
  position: relative;
  left: 67.5px;
  top: -6px;
}

.third_item::after {
  content: "";
  border-radius: 50%;
  height: 1.62px;
  width: 1.62px;
  background-color: #474c5f;
  display: block;
  position: relative;
  left: 37.5px;
  top: -6px;
}

.slider_block {
  padding-bottom: 11.5px;
}

.slider_hexagons {
  display: grid;
  justify-content: center;
  margin-left: 0.5px;
}

/* div.hexagon {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 206px;
  width: 180px;
} */

.hexagon{
  height: 206px;
  width: 180px;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  filter: grayscale(0.25);
}

.hex-layer-1{
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  overflow: hidden;
}

.hex-layer-2{
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible; 
}

.row_1 .hexagon:nth-child(1) .hex-layer-2{
  background-image: url(assets/1.png);
  background-position-x: -23px;
  background-position-y: -12px;
}

.row_1 .hexagon:nth-child(2) .hex-layer-2{
  background-image: url(assets/2.png);
  background-position-x: -20px;
  background-position-y: -9px;
}

.row_1 .hexagon:nth-child(3) .hex-layer-2{
  background-image: url(assets/3.png);
  background-position-x: -20px;
  background-position-y: -7px;
}

.row_1 .hexagon:nth-child(4) .hex-layer-2{
  background-image: url(assets/4.png);
  background-position-x: -20px;
  background-position-y: -18px;
}

.row_2 .hexagon:nth-child(1) .hex-layer-2{
  background-image: url(assets/5.png);
  background-position-x: -20px;
  background-position-y: -12px;
}

.row_2 .hexagon:nth-child(2) .hex-layer-2{
  background-image: url(assets/6.png);
  background-position-x: -21px;
  background-position-y: -14px;
}

.row_2 .hexagon:nth-child(3) .hex-layer-2{
  background-image: url(assets/7.png);
  background-position-x: -20px;
  background-position-y: -8px;
}

.row_2 .hexagon:nth-child(4) .hex-layer-2{
  background-image: url(assets/8.png);
  background-position-x: -20px;
  background-position-y: -9px;
}

.row_2 .hexagon:nth-child(5) .hex-layer-2{
  background-image: url(assets/9.png);
  background-position-x: -22px;
  background-position-y: -12px;
}

.row_3 .hexagon:nth-child(1) .hex-layer-2{
  background-image: url(assets/10.png);
  background-position-x: -20px;
  background-position-y: -7px;
}

.row_3 .hexagon:nth-child(2) .hex-layer-2{
  background-image: url(assets/11.png);
  background-position-x: -20px;
  background-position-y: -7px;
}

.row_3 .hexagon:nth-child(3) .hex-layer-2{
  background-image: url(assets/12.png);
  background-position-x: -19px;
  background-position-y: -6px;
}

.row_3 .hexagon:nth-child(4) .hex-layer-2{
  background-image: url(assets/13.png);
  background-position-x: -10px;
  background-position-y: -7px;
}

.hexagon:hover {
  cursor: pointer;
  filter: grayscale(0);
  height: 105%;
  width: 105%;
  position: relative;
  top: -5px;
  left: -5px;
  z-index: 10;
}

.row_1 {
  display: inline-grid;
  grid-template: repeat(1, 1fr) / repeat(6, 180px);
  grid-gap: 20px;
}

.row_2 {
  display: inline-grid;
  grid-template: repeat(1, 1fr) / repeat(5, 180px);
  grid-gap: 20px;
  grid-row: 2;
  margin-top: -38px;
  justify-content: center;
}

.row_3 {
  display: inline-grid;
  grid-template: repeat(1, 1fr) / repeat(6, 180px);
  grid-gap: 20px;
  grid-row: 3;
  margin-top: -38px;
}

.row::before {
  position: relative;
  content: "";
  width: 1px;
  height: 104px;
  background: #e4e9eb;
  display: block;
  top: 51px;
  right: -179px;
}

.row::after {
  position: relative;
  content: "";
  width: 1px;
  height: 104px;
  background: #e4e9eb;
  display: block;
  top: 51px;
}

#slider {
  position: relative;
  text-align: center;
  top: 10px;
}

#slider {
  margin: 0 auto;
}

#slides article {
  width: 20%;
  float: left;
}

#slides .slider_content {
  width: 500%;
  line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#desktop:checked ~ #slider {
  max-width: 1020px;
}

label,
a {
  cursor: pointer;
}

.all {
  margin-top: 80px;
}

.all input {
  display: none;
}

#switch1:checked ~ #slides .slider_content {
  margin-left: 0;
}

#switch2:checked ~ #slides .slider_content {
  margin-left: -100%;
}

#switch3:checked ~ #slides .slider_content {
  margin-left: -200%;
}

#switch4:checked ~ #slides .slider_content {
  margin-left: -300%;
}

#switch5:checked ~ #slides .slider_content {
  margin-left: -400%;
}

#switch6:checked ~ #slides .slider_content {
  margin-left: -500%;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ddd2c5;
}

#active {
  margin: 50px 30px;
  text-align: left;
}

#active label:hover {
  background: #8b8784;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5),
#switch6:checked ~ #active label:nth-child(6) {
  background: #8b8784;
}

#slides .slider_content {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  opacity: 0.6;
}

#controls label {
  transition: opacity 0.2s ease-out;
}

.main_stripes_top {
  margin: auto;
  height: 0px;
  width: 1px;
}

.main_stripes_top::before {
  content: "";
  display: block;
  position: relative;
  float: right;
  top: 11px;
  right: 70px;
  height: 1px;
  width: 410px;
  background: #e4e9eb;
}

.main_stripes_top::after {
  content: "";
  display: block;
  position: relative;
  top: 11px;
  left: 71px;
  height: 1px;
  width: 410px;
  background: #e4e9eb;
}

.main_stripes_bottom {
  height: 1px;
  margin: auto;
  margin-top: -32.5px;
  display: block;
  width: 960px;
  background: #e4e9eb;
}

.about_content {
  max-width: 1020px;
  margin: auto;
  display: grid;
  grid-template: 273px / 102px 180px 584px 120px;
  grid-column-gap: 18px;
}

.about_block {
  background-color: #2eb398;
  padding-top: 67.5px;
}

.guy_photo {
  background-image: url(assets/guy_photo.png);
  background-position-x: -120px;
  background-position-y: -1px;
  filter: grayscale(0.18);
}

.guy_photo .hex-layer-2{
  background-image: url(assets/guy_photo.png);
  background-position-x: 49%;
  background-position-y: 80%;
}

.about_info h3 {
  font-size: 28px;
  margin-top: -7px;
  margin-left: 1px;
  word-spacing: 3px;
  letter-spacing: 1.1px;
  font-weight: 150;
  color: #d7fcf5;
}

.about_info h4 {
  margin-top: -1px;
  font-size: 17px;
  word-spacing: 3px;
  letter-spacing: 0.1px;
  color: #20816d;
  font-weight: 200;
}

.about_info p {
  line-height: 21px;
  margin-top: 13px;
  font-size: 12px;
  margin-left: 2px;
  word-spacing: 0.7px;
  letter-spacing: 0px;
  color: #c6f3ea;
}

.about_content::before {
  position: relative;
  content: "";
  width: 1px;
  height: 317px;
  background: #219d84;
  display: block;
  left: 102px;
  top: -56px;
  left: 99px;
}

.about_content::after {
  position: relative;
  content: "";
  width: 1px;
  height: 317px;
  background: #219d84;
  display: block;
  top: -56px;
}

.links_bar {
  margin: 8px 2px 0 0;
}

.links_bar ul {
  float: right;
  transition: all 0.2s ease;
}

.links_bar li:hover {
  background-color: black;
}

.links_bar li img:hover {
  transform: scale(1.2);
  border: 1px solid black;
}

.footer {
  background-color: #323232;
  padding-top: 60px;
}

.get_in h2 {
  color: #e0e0e0;
  font-weight: inherit;
  font-size: 1.8em;
  word-spacing: 3px;
  margin-left: 3px;
  letter-spacing: 0.34px;
}

.get_in h3 {
  color: #bebebe;
  font-weight: 100;
  font-size: 1.1em;
  margin-top: -1px;
  word-spacing: 2.15px;
  margin-left: 3px;
  letter-spacing: 0.2px;
}

.get_in {
  display: grid;
  max-width: 1024px;
  margin: 0 auto;
  grid-template: 1fr / 120px 1fr 120px;
}

.get_in::before {
  position: relative;
  content: "";
  width: 960px;
  height: 1px;
  background: #2b2b2b;
  display: block;
  top: -47px;
  left: 33px;
}

.copyright::before {
  position: relative;
  content: "";
  width: 960px;
  height: 1px;
  background: #2b2b2b;
  display: block;
  top: -12px;
  margin: 0 auto;
}

.get_in_head {
  grid-column: 2;
}

.fields {
  grid-column: 2;
  padding-top: 20px;
  padding-left: 2px;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 38px) 1fr;
  grid-gap: 16px 18px;
}

#field {
  height: 38px;
  width: 580px;
}

textarea {
  resize: none;
  outline: none;
  overflow: auto;
}

.field {
  height: 38px;
  width: 566px;
  outline: none;
  background-color: #454545;
  color: #bebebe;
  padding-left: 14px;
  font-weight: 100;
  font-size: 0.7em;
  word-spacing: -1.8px;
}

::-webkit-input-placeholder {
  color: #bebebe;
}

::-moz-placeholder {
  color: #bebebe;
}

:-moz-placeholder {
  color: #bebebe;
}

:-ms-input-placeholder {
  color: #bebebe;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input {
  border: none;
}

textarea {
  border: none;
}

.fields p {
  color: #bebebe;
  font-weight: 100;
  font-size: 0.7em;
  margin-left: 3px;
  margin-top: -4px;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  line-height: 18px;
}

.fields p strong {
  color: #e0e0e0;
}

.field_email {
  grid-row: 2;
}

.field_subj {
  grid-row: 3;
}

.field_message {
  grid-row: 4/5;
}

.send_btn {
  grid-row: 5;
  justify-self: flex-end;
  margin-top: -3px;
}

#send_btn {
  height: 37px;
  width: 90px;
  background-color: #2eb398;
  color: #d7fcf5;
  font-weight: 100;
  font-size: 0.7em;
  padding-top: 1px;
}

#send_btn:hover {
  cursor: pointer;
  background-color: #454545;
  color: #2eb398;
}

#message {
  height: 139px;
  font-family: lato-regular;
  padding-top: 11px;
  font-weight: 100;
  font-size: 0.77em;
  word-spacing: 0.3px;
  letter-spacing: -0.5px;
}

.contacts {
  grid-column: 2;
  grid-row: 4;
}

.contacts ul {
  display: list-item;
  margin-left: 4px;
  margin-top: -1px;
}

.contacts li img {
  transition: all 0.3s ease;
}

.contacts li p {
  transition: all 0.3s ease;
}

.contacts li img:hover {
  transform: scale(1.2);
}

.li_2 {
  margin: 3px 0 0 -2px;
}

.li_3 {
  margin: 2px 0 0 -3px;
}

.contacts li p {
  display: inline;
  color: #bebebe;
}

.li_1 p {
  position: relative;
  bottom: 2px;
  font-size: 1.2em;
  font-weight: 100;
  left: 10px;
  letter-spacing: -0.1px;
  word-spacing: 0.7px;
}

.li_2 p {
  position: relative;
  bottom: 2px;
  font-size: 1.2em;
  font-weight: 100;
  left: 8px;
  word-spacing: -1px;
  letter-spacing: 0.2px;
}

.li_3 p {
  position: relative;
  font-size: 1.2em;
  font-weight: 100;
  left: 7px;
  letter-spacing: 0.1px;
}

.contacts ul li p:hover {
  cursor: pointer;
  font-size: 1.3em;
  color: white;
}

.copyright {
  color: #3b3b3b;
  height: 43px;
  background-color: #222222;
  margin-top: 65px;
}

.copyright_text {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 13px;
}

.copyright_text p {
  margin-left: 40px;
  font-size: 0.73em;
  word-spacing: 2px;
  letter-spacing: -0.3px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup_content {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #454545;
  color: #bebebe;
  max-width: 1020px;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  font-size: 2.3rem;
  grid-template: 1fr / 4fr 4fr 1fr;
  display: grid;
  padding: 15px;
}

.popup_close {
  justify-self: right;
  color: #bebebe;
  transition: all 0.3s;
  position: relative;
  top: -15px;
  left: 2px;
  height: 20px;
  width: 20px;
}

.popup_close:hover {
  color: white;
  cursor: pointer;
  font-size: 3rem;
  left: -5px;
}

.popup_contacts {
  display: grid;
}

.popup_contacts a {
  color: #bebebe;
  transition: all 0.2s ease;
}

.popup_contacts a:hover {
  font-size: 1.1em;
  color: white;
  cursor: pointer;
}

/* .hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(http://placekitten.com/240/240);
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2:hover {
  background-image: url(http://placekitten.com/241/241);
}

.hexagon2 {
  width: 200px;
  height: 400px;
  margin: -80px 0 0 20px;
} */
