* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: lato-regular;
  src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(assets/fonts/Lato-Bold.ttf);
}

body {
  font-family: lato-regular;
}

a {
  text-decoration: none;
}

.header {
  background-color: #323232;
  display: flex;
  justify-content: center;
  height: 63px;
  font-family: lato-bold;
}

.navbar-hexagon {
  height: 104px;
  width: 90px;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  background-color: #323232;
  margin-top: -55px;
  transition: all 0.2s linear;
}

.navbar-hexagon .hex-layer-2::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -51%;
  z-index: -1;
  background: url(assets/logo.png) center no-repeat;
}

.navbar-hexagon:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 30px;
  font-size: 10px;
}

.nav-list a {
  display: block;
  color: white;
}

.nav-list a:hover {
  color: #2f9984;
}

.left-item {
  float: right;
  margin-right: 21px;
  margin-left: 3.5px;
}

.right-item {
  float: left;
  margin-left: 25px;
  margin-right: -1px;
}

.navbar-logo {
  margin-top: 10px;
  margin-left: 3px;
  transition: all 0.5s ease;
}

.navbar-logo:hover {
  margin-top: 30px;
}

.first-item::after {
  content: "";
  border-radius: 50%;
  height: 1.62px;
  width: 1.62px;
  background-color: #474c5f;
  display: block;
  position: relative;
  left: 67.5px;
  top: -6px;
}

.third-item::after {
  content: "";
  border-radius: 50%;
  height: 1.62px;
  width: 1.62px;
  background-color: #474c5f;
  display: block;
  position: relative;
  left: 37.5px;
  top: -6px;
}

.slider-block {
  padding-bottom: 11.5px;
}

.slider-hexagons {
  display: grid;
  justify-content: center;
  margin-left: 0.5px;
}

/* div.hexagon {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 206px;
  width: 180px;
} */

.hexagon {
  height: 206px;
  width: 180px;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  filter: grayscale(0.25);
  transition: all 0.2s ease;
}

.hex-layer-1 {
  height: 100%;
  width: 100%;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  overflow: hidden;
  background-color: #323232;
}

.hex-layer-2 {
  background-color: #323232;
  height: 100%;
  width: 100%;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}

.row-1 .hexagon:nth-child(1) .hex-layer-2 {
  background-image: url(assets/1.png);
  background-position-x: -23px;
  background-position-y: -12px;
}

.row-1 .hexagon:nth-child(2) .hex-layer-2 {
  background-image: url(assets/2.png);
  background-position-x: -20px;
  background-position-y: -9px;
}

.row-1 .hexagon:nth-child(3) .hex-layer-2 {
  background-image: url(assets/3.png);
  background-position-x: -20px;
  background-position-y: -7px;
}

.row-1 .hexagon:nth-child(4) .hex-layer-2 {
  background-image: url(assets/4.png);
  background-position-x: -20px;
  background-position-y: -18px;
}

.row-2 .hexagon:nth-child(1) .hex-layer-2 {
  background-image: url(assets/5.png);
  background-position-x: -20px;
  background-position-y: -12px;
}

.row-2 .hexagon:nth-child(2) .hex-layer-2 {
  background-image: url(assets/6.png);
  background-position-x: -21px;
  background-position-y: -14px;
}

.row-2 .hexagon:nth-child(3) .hex-layer-2 {
  background-image: url(assets/7.png);
  background-position-x: -20px;
  background-position-y: -8px;
}

.row-2 .hexagon:nth-child(4) .hex-layer-2 {
  background-image: url(assets/8.png);
  background-position-x: -20px;
  background-position-y: -9px;
}

.row-2 .hexagon:nth-child(5) .hex-layer-2 {
  background-image: url(assets/9.png);
  background-position-x: -22px;
  background-position-y: -12px;
}

.row-3 .hexagon:nth-child(1) .hex-layer-2 {
  background-image: url(assets/10.png);
  background-position-x: -20px;
  background-position-y: -7px;
}

.row-3 .hexagon:nth-child(2) .hex-layer-2 {
  background-image: url(assets/11.png);
  background-position-x: -20px;
  background-position-y: -7px;
}

.row-3 .hexagon:nth-child(3) .hex-layer-2 {
  background-image: url(assets/12.png);
  background-position-x: -19px;
  background-position-y: -6px;
}

.row-3 .hexagon:nth-child(4) .hex-layer-2 {
  background-image: url(assets/13.png);
  background-position-x: -10px;
  background-position-y: -7px;
}

.slider-hexagons .hexagon:hover {
  cursor: pointer;
  filter: grayscale(0);
  transition: all 0.2s ease;
  transform: rotate(120deg) scale(1.1);
  -moz-transform: rotate(120deg) scale(1.1);
  -webkit-transform: rotate(120deg) scale(1.1);
}

.row-1 {
  display: inline-grid;
  grid-template: repeat(1, 1fr) / repeat(6, 180px);
  grid-gap: 20px;
}

.row-2 {
  display: inline-grid;
  grid-template: repeat(1, 1fr) / repeat(5, 180px);
  grid-gap: 20px;
  grid-row: 2;
  margin-top: -38px;
  justify-content: center;
}

.row-3 {
  display: inline-grid;
  grid-template: repeat(1, 1fr) / repeat(6, 180px);
  grid-gap: 20px;
  grid-row: 3;
  margin-top: -38px;
}

.row::before {
  position: relative;
  content: "";
  width: 1px;
  height: 104px;
  background: #e4e9eb;
  display: block;
  top: 51px;
  right: -179px;
}

.row::after {
  position: relative;
  content: "";
  width: 1px;
  height: 104px;
  background: #e4e9eb;
  display: block;
  top: 51px;
}

#slider {
  position: relative;
  text-align: center;
  top: 10px;
}

#slider {
  margin: 0 auto;
}

#slides article {
  width: 20%;
  float: left;
}

#slides .slider-content {
  width: 500%;
  line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#desktop:checked~#slider {
  max-width: 1020px;
}

label,
a {
  cursor: pointer;
}

.all {
  margin-top: 80px;
}

.all input {
  display: none;
}

#switch1:checked~#slides .slider-content {
  margin-left: 0;
}

#switch2:checked~#slides .slider-content {
  margin-left: -100%;
}

#switch3:checked~#slides .slider-content {
  margin-left: -200%;
}

#switch4:checked~#slides .slider-content {
  margin-left: -300%;
}

#switch5:checked~#slides .slider-content {
  margin-left: -400%;
}

#switch6:checked~#slides .slider-content {
  margin-left: -500%;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ddd2c5;
}

#active {
  margin: 50px 30px;
  text-align: left;
}

#active label:hover {
  background: #8b8784;
}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5),
#switch6:checked~#active label:nth-child(6) {
  background: #8b8784;
}

#slides .slider-content {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  opacity: 0.6;
}

#controls label {
  transition: opacity 0.2s ease-out;
}

.main-stripes-top {
  margin: auto;
  height: 0px;
  width: 1px;
}

.main-stripes-top::before {
  content: "";
  display: block;
  position: relative;
  float: right;
  top: 11px;
  right: 70px;
  height: 1px;
  width: 410px;
  background: #e4e9eb;
}

.main-stripes-top::after {
  content: "";
  display: block;
  position: relative;
  top: 11px;
  left: 71px;
  height: 1px;
  width: 410px;
  background: #e4e9eb;
}

.main-stripes-bottom {
  height: 1px;
  margin: auto;
  margin-top: -32.5px;
  display: block;
  width: 960px;
  background: #e4e9eb;
}

.about-content {
  max-width: 1020px;
  margin: auto;
  display: grid;
  grid-template: 273px / 102px 180px 584px 120px;
  grid-column-gap: 18px;
}

.about-block {
  background-color: #2eb398;
  padding-top: 67.5px;
}

.guy-photo {
  filter: grayscale(0.18);
}

.guy-photo .hex-layer-2 {
  background-image: url(assets/guy_photo.png);
  background-position-x: 49%;
  background-position-y: 80%;
}

.about-content .hexagon:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: rotate(120deg) scale(1.1);
}

.about-info h1 {
  font-size: 28px;
  margin-top: -7px;
  margin-left: 1px;
  word-spacing: 3px;
  letter-spacing: 1.1px;
  font-weight: 150;
  color: #d7fcf5;
}

.about-info h4 {
  margin-top: -1px;
  font-size: 17px;
  word-spacing: 3px;
  letter-spacing: 0.1px;
  color: #20816d;
  font-weight: 200;
}

.about-info p {
  line-height: 22px;
  margin-top: 13px;
  font-size: 12px;
  margin-left: 2px;
  word-spacing: 0.7px;
  letter-spacing: 0px;
  color: #c6f3ea;
  text-align: justify;
}

.about-content::before {
  position: relative;
  content: "";
  width: 1px;
  height: 317px;
  background: #219d84;
  display: block;
  left: 102px;
  top: -56px;
  left: 99px;
}

.about-content::after {
  position: relative;
  content: "";
  width: 1px;
  height: 317px;
  background: #219d84;
  display: block;
  top: -56px;
}

.links-bar {
  margin: 4px 2px 0 0;
}

.links-bar ul {
  float: right;
  transition: all 0.2s ease;
}

.links-bar li:hover {
  background-color: black;
}

.links-bar li img:hover {
  transform: scale(1.2);
  border: 1px solid black;
}

.footer {
  background-color: #323232;
  padding-top: 60px;
}

.get-in h2 {
  color: #e0e0e0;
  font-weight: inherit;
  font-size: 1.7em;
  word-spacing: 4px;
  margin-left: 4px;
  letter-spacing: 1px;
}

.get-in h3 {
  color: #bebebe;
  font-weight: 100;
  font-size: 1.1em;
  margin-top: -1px;
  word-spacing: 1.3px;
  margin-left: 4px;
  letter-spacing: 0.4px;
}

.get-in-block{
  max-width: 1024px;
  margin: 0 auto;
}

.get-in {
  max-width: 787px;
  margin: 0 auto;
}

.get-in-block::before {
  position: relative;
  content: "";
  width: 960px;
  height: 1px;
  background: #2b2b2b;
  display: block;
  top: -47px;
  margin: 0 auto;
}

.copyright::before {
  position: relative;
  content: "";
  width: 960px;
  height: 1px;
  background: #2b2b2b;
  display: block;
  top: -12px;
  margin: 0 auto;
}

form {
  display: grid;
  grid-template-columns: 584px 1fr;
  grid-gap: 20px;
}

.fields {
  padding-top: 20px;
  padding-left: 4px;
  max-width: 1024px;
  margin: 0 auto;
}

#field {
  height: 38px;
  width: 580px;
}

textarea {
  resize: none;
  outline: none;
  overflow: auto;
}

button {
  background-color: #323232;
  border: none;
  position: relative;
  top: -7px;
  justify-self: right;
}

.field {
  height: 38px;
  width: 566px;
  outline: none;
  background-color: #454545;
  color: #bebebe;
  padding-left: 14px;
  font-weight: 100;
  font-size: 0.7em;
  word-spacing: -1.8px;
}

fieldset {
  border: none;
}

fieldset :nth-child(2),
fieldset :nth-child(3),
fieldset :nth-child(4) {
  margin-top: 16px;
}

::-webkit-input-placeholder {
  color: #bebebe;
}

::-moz-placeholder {
  color: #bebebe;
}

:-moz-placeholder {
  color: #bebebe;
}

:-ms-input-placeholder {
  color: #bebebe;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input {
  border: none;
}

textarea {
  border: none;
}

.fields-info {
  padding-top: 16px;
}

.fields-info p {
  color: #bebebe;
  font-weight: 100;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  line-height: 18px;
  text-align: justify;
}

.fields-info p strong {
  word-spacing: 6px;
  letter-spacing: 0.4px;
}

.fields p strong {
  color: #e0e0e0;
}

#send-btn {
  height: 37px;
  width: 90px;
  background-color: #2eb398;
  color: #d7fcf5;
  font-size: 0.868em;
  padding-top: 1px;
  padding-left: -2px;
  padding-right: 1px;
  letter-spacing: -0.4px;
}

#send-btn:hover {
  cursor: pointer;
  background-color: #454545;
  color: #2eb398;
}

#message {
  height: 139px;
  font-family: lato-regular;
  padding-top: 11px;
  font-weight: 100;
  font-size: 0.77em;
  word-spacing: 0.3px;
  letter-spacing: -0.5px;
}

.contacts {
  margin-top: 39px;
  margin-left: 2px;
}


.contacts ul {
  display: list-item;
  white-space: nowrap;
}

.contacts li img {
  transition: all 0.3s ease;
}

.contacts li p {
  transition: all 0.3s ease;
}

.contacts li img:hover {
  transform: scale(1.2);
}

.li-2 {
  margin: 3px 0 0 -2px;
}

.li-3 {
  margin: 2px 0 0 -3px;
}

.contacts li p {
  display: inline;
  color: #bebebe;
  margin-left: 2px;
}

.li-1 p {
  position: relative;
  bottom: 2px;
  font-size: 1.2em;
  font-weight: 100;
  left: 10px;
  letter-spacing: -0.1px;
  word-spacing: 0.7px;
}

.li-2 p {
  position: relative;
  bottom: 2px;
  font-size: 1.2em;
  font-weight: 100;
  left: 8px;
  word-spacing: -1px;
  letter-spacing: 0.2px;
}

.li-3 p {
  position: relative;
  font-size: 1.2em;
  font-weight: 100;
  left: 7px;
  letter-spacing: 0.1px;
}

.contacts ul li p:hover {
  cursor: pointer;
  font-size: 1.3em;
  color: white;
}

.copyright {
  color: #3b3b3b;
  height: 43px;
  background-color: #222222;
  margin-top: 58px;
}

.copyright-text {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 12px;
}

.copyright-text p {
  margin-left: 40px;
  font-size: 0.73em;
  word-spacing: 2px;
  letter-spacing: -0.3px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #454545;
  color: #bebebe;
  max-width: 1020px;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  font-size: 2.3rem;
  grid-template: 1fr / 4fr 4fr 1fr;
  display: grid;
  padding: 15px;
}

.popup-close {
  justify-self: right;
  color: #bebebe;
  transition: all 0.3s;
  position: relative;
  top: -15px;
  left: 2px;
  height: 20px;
  width: 20px;
}

.popup-close:hover {
  color: white;
  cursor: pointer;
  font-size: 3rem;
  left: -5px;
}

.popup-contacts {
  display: grid;
}

.popup-contacts a {
  color: #bebebe;
  transition: all 0.2s ease;
}

.popup-contacts a:hover {
  font-size: 1.1em;
  color: white;
  cursor: pointer;
}

@media(max-width: 1000px) {
  .fields p {
    line-height: 150%;
  }
}

/* .hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(http://placekitten.com/240/240);
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2:hover {
  background-image: url(http://placekitten.com/241/241);
}

.hexagon2 {
  width: 200px;
  height: 400px;
  margin: -80px 0 0 20px;
} */